<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="DatabaseConnectionString" connectionString="Server=10.41.227.200;Database=controle_de_obitos;Uid=root;Pwd=hiD.E,2408;Connect Timeout=10;" />
  <add name="Controle_de_Obitos_2._0.Properties.Settings.controle_de_obitosConnectionString"
   connectionString="server=10.41.227.200;user id=root;password=hiD.E,2408;database=controle_de_obitos"
   providerName="MySql.Data.MySqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>